#main{
    
}

header {
    background-color: #004175;
    border: 5px solid #89deef;
}

header {
    font-family: 'Open Sans';
    color: white;
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: blue;
    border: #89deef;
    padding: 20px
}

.traits{
    background-color: #89deef;
    border-radius: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:
}

img {
    max-width: 400px;
    padding-bottom: 0px
}